/* josefin-sans-300 - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('/josefin-sans-v25-latin/josefin-sans-v25-latin-300.woff2') format('woff2'),
       url('/josefin-sans-v25-latin/josefin-sans-v25-latin-300.woff') format('woff');
}
/* josefin-sans-regular - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('josefin-sans-v25-latin/josefin-sans-v25-latin-regular.woff2') format('woff2'),
       url('/josefin-sans-v25-latinjosefin-sans-v25-latin-regular.woff') format('woff');
}
/* josefin-sans-700 - latin */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('/josefin-sans-v25-latin/josefin-sans-v25-latin-700.woff2') format('woff2'),
       url('/josefin-sans-v25-latin/josefin-sans-v25-latin-700.woff') format('woff');
}
/* anton-regular - latin */
@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/anton-v23-latin/anton-v23-latin-regular.woff2') format('woff2'),
       url('/anton-v23-latin/anton-v23-latin-regular.woff') format('woff');
}
